# OSX
#
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

/example/node_modules
/example/npm-debug.log
/example/yarn-error.log
/example/android/.gradle
/example/android/.idea
/example/android/local.properties
/example/android/app/build
/android/.gradle
/android/.idea
/android/local.properties
/android/build


# BUCK
buck-out/
\.buckd/
*.keystore
